body {
  background: #404b69;
  color: #333333;
  margin-top: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
.username:hover{
  color: #00818A;
}

p, span, div{
  color: #dbedf3
}

ul {
  margin: 0;
}

#bottom-nav{
  margin-bottom: 4px;
}
#main-content{
  padding-left: 200px;
}

@media (max-width: 500px){
  #site-logo{
    display:none;
  }
  #sidebar{
    display:none;
  }
  .sidenav{
    width: 150px;
  }

}

@media (min-width: 700px){
  #search-bar{
    width: 400px;
  }
  .sidenav{
    width: 250px;
  }
}
@media (min-width: 900px){
  #search-bar{
    width: 800px;
  }
  .sidenav{
    width: 250px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav-img {
  height: 25px;
  width: 25px;
  margin-right: 12px;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #283149;
  overflow-x: hidden;
  padding-top: 20px;
  padding-right: 50px
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #dbedf3;
  display: block;
}

.sidenav a:hover {
  color: #00818A;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.newpost{
  color: #00818A;
}



.content-section {
  background: #283149;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 5px;

}

.sidebar-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  align:right;

}

.article-title {
  color: #dbedf3;
}

a.article-title:hover {
  color: #00818A;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}



.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
