<form action="{% url 'like_post' %}" method="post">
  {% csrf_token %}
  {% if is_liked%}
    <button type="submit" id="likebutton" name="post_id" value={{post.id}} class = "btn btn-primary-outline btn-sm mt-1 mb-1" style="background-color:transparent"><i class="fa fa-heart" style="color:#FF0000;"></i></button>
  {% else %}
    <button type="submit" id="likebutton" name="post_id" value={{post.id}} class = "btn btn-primary-outline btn-sm mt-1 mb-1" style="background-color:transparent"><i class="far fa-heart"></i></button>

  {% endif %}
  {{total_likes}}
  {% if post.author == user %}
    <a class="btn btn-primary-outline btn-sm mt-1 mb-1" href="{% url 'post-update' post.id%}">
        <i class="far fa-edit"></i> Edit Post
    </a>
    <a class="btn btn-primary-outline btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id%}">
        <i class="far fa-trash-alt"></i>
        Delete Post
    </a>

{% endif %}
</form>
