{%extends "feed/base_temp.html"%}
{% block content %}

  <article class="media content-section" post-id="{{post.id}}"">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.author %}">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>


      <div id="interactions">

        {% include "feed/interactions.html" %}

      </div>
  </article>

<br>
<span><hr style="border-color: inherit"></span>

{% if not post.restrict_comment %}
  <div class="main-comment-section">
    {% include 'feed/comment_section.html' %}
  </div>
{% endif %}

{% endblock content%}
