<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ reply.user.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' reply.user %}"><span class="username">{{ reply.user }}</span></a>
      <small class="text-muted">{{ reply.date_posted }}</small>
    </div>
    <p class="article-content">{{ reply.content}}</p>


    <button type="button" name="button" class = "reply-button btn btn-primary-outline btn-sm mt-1 mb-1" style="background-color:transparent">
    <i class="far fa-comment"></i>
    <span class="total-comments">{{ reply.replies.count }}</span>
    </button>

    <a href="" class="like">
      {%csrf_token%}
      {% if request.user in reply.get_likers %}
        <i class="heart fa fa-heart" style="color:#FF0000;"></i>
      {% else %}
        <i class="heart far fa-heart"></i>
      {% endif %}
    </a>
    <span class="total-likes">{{reply.total_likes}} </span>

    {% if reply.user == user %}
      <a class="btn btn-primary-outline btn-sm mt-1 mb-1" href="{% url 'post-update' post.id%}">
          <span>
          <i class="far fa-edit"></i> Edit
          </span>
      </a>
      <a class="btn btn-primary-outline btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id%}">
          <span><i class="far fa-trash-alt"></i>
          Delete
          </span>
      </a>
    {% endif %}


  </div>
</article>
