{%extends "feed/base_temp.html"%}
{% block content %}

    <ul style="list-style-type:none" class="stream">
      <div display="flex" justify-content="space-between" white-space="nowrap">

      <a class="btn btn-outline-secondary content-section" href="{% url 'user-posts' username %}">Posts</a><a class="btn btn-outline-secondary content-section" href="{% url 'user-posts' username %}">Comments</a><a class="btn btn-outline-secondary content-section" href="{% url 'liked_posts' %}">Favorites</a>
      {% if user.username == username %}

        <a class="btn btn-outline-secondary content-section" href="{% url 'profile-update' %}">Update Profile</a>
      {%endif%}
    </div>

      {% for post in posts %}
      <li class="postobj" post-id="{{post.id}}">
          {% include "feed/single_post.html" %}
      </li>
      {% endfor %}

      {% if is_paginated %}

        {% include "feed/pagination.html" %}

      {% endif %}
    </ul>



{% endblock content%}
