{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'feed/main.css' %}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <!-- Infinite Scrolling -->
  <script src="{% static 'feed/js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'feed/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'feed/js/infinite.min.js' %}"></script>

  {% if title %}
    <title>{{title}}</title>
  {% else %}
    <title>Now You Know</title>
  {% endif %}
</head>
<body>




    <div class="sidenav">
      <a class="navbar-brand" id="site-logo" href="#" style="color: #00818A;">YSPK</a>
      <a href="{% url 'feed-home' %}"><i class="fas fa-home"></i> Home</a>
    {% if user.is_authenticated %}
      <a href="{% url 'user-posts' user.username %}"><i class="far fa-user"></i> Profile</a>
      <a href="{% url 'post-create' %}"><i class="fas fa-pen"></i> New Post</a>
      <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>

    {%else%}
      <a href="{% url 'login' %}"><i class="fas fa-rocket"></i> Login</a>
      <a href="{% url 'register' %}"><i class="far fa-bell"></i> Register</a>

    {% endif %}
    </div>


  <main role="main" id="main-content" class="container mt-4">
    <div class="row">
      <div class="col-md-12">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          {% block content %}{% endblock %}
        </div>

    </div>
  </main>



  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% if request.user.is_authenticated %}
  <script type="text/javascript">
  $(document).ready(function(){



    $(".reply-button").click(function() {
      $(this).parent().parent().next('.replied-comments').fadeToggle()
    });


    $("ul.stream").on("click", ".like", function() {
      console.log(document.body)

      var li = $(this).closest("li");
      var post = $(li).attr("post-id");
      console.log(post)
      payload = {
        'post': post,
        'csrfmiddlewaretoken': '{{csrf_token}}',
      }
      $.ajax({
        url: '{% url "like_post" %}',
        data: payload,
        type: 'POST',
        cache: false,
        success: function (data) {
          $(".total-likes", li).text(data.likes);
          if($(".like .heart", li).hasClass("fa fa-heart")) {
            $(".like .heart", li).removeClass("fa fa-heart");
            $(".like .heart", li).addClass("far fa-heart");
            $(".like .heart", li).removeAttr("style");
          } else {
            $(".like .heart", li).removeClass("far fa-heart");
            $(".like .heart", li).addClass("fa fa-heart");
            $(".like .heart", li)[0].setAttribute("style", "color:#FF0000;");
          }
        }
      });
      return false;
      });



      $(document).on("click", ".like", function() {
        console.log(document.body)

        var art = $(this).closest("article");
        var post = $(art).attr("post-id");
        console.log(post)
        payload = {
          'post': post,
          'csrfmiddlewaretoken': '{{csrf_token}}',
        }
        $.ajax({
          url: '{% url "like_post" %}',
          data: payload,
          type: 'POST',
          cache: false,
          success: function (data) {
            $(".total-likes", art).text(data.likes);
            if($(".like .heart").hasClass("fa fa-heart")) {
              $(".like .heart").removeClass("fa fa-heart");
              $(".like .heart").addClass("far fa-heart");
              $(".like .heart").removeAttr("style");
            } else {
              $(".like .heart").removeClass("far fa-heart");
              $(".like .heart").addClass("fa fa-heart");
              $(".like .heart")[0].setAttribute("style", "color:#FF0000;");
            }
          }
        });
        return false;
        });



        $(document).on('submit', '.comment-form', function(event){
          event.preventDefault();
          console.log($(this).serialize());
          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response) {
              $('.main-comment-section').html(response['form']);
              $('textarea').val('');
              $('.reply-btn').click(function() {
                $(this).parent().parent().next('.replied-comments').fadeToggle();
                $('textarea').val('');
              });
            },
            error: function(rs, e) {
              console.log(rs.responseText);
            },
          });
        });


        $(document).on('submit', '.reply-form', function(event){
          event.preventDefault();
          console.log($(this).serialize());
          var comment = $(this).find('input[name="comment_id"]').val()
          console.log("Hello!");
          console.log(comment)
          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response) {
              $('.main-comment-section').html(response['form']);
              $('textarea').val('');
              $('.reply-btn').click(function() {
                $(this).parent().parent().next('.replied-comments').fadeToggle();
                $('textarea').val('');
              });
            },
            error: function(rs, e) {
              console.log(rs.responseText);
            },
          });
        });



  });




  </script>
  {% endif %}
</body>
</html>
