<article class="media content-section" id="{{comment.id}}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' comment.user %}"><span class="username">{{ comment.user }}</span></a>
      <small class="text-muted">{{ comment.date_posted }}</small>
    </div>
    <p class="article-content">{{ comment.content}}</p>

    {% if comment.user == user %}

      <a class="btn btn-primary-outline btn-sm mt-1 mb-1" href="{% url 'post-delete' comment.id%}">
          <span><i class="far fa-trash-alt"></i>
          Delete
          </span>
      </a>
    {% endif %}



  </div>

</article>
